In [31]:
import numpy as np
import pandas as pd
import datetime

In [4]:
df_data = pd.read_csv("./Data/train_sample.csv", parse_dates=["datetime"])

In [15]:
df_data.dtypes

datetime           datetime64[ns, UTC]
Frequency                      float64
FrequencyOutput                float64
CurrentOutput                  float64
TempPV                         float64
TempSV                         float64
ai0                            float64
ai1                            float64
ai2                            float64
ai3                            float64
Scored                           int64
date                            object
time                            object
hour                             int64
dtype: object

## deomposite datetime

In [36]:
df_data["date"] = df_data["datetime"].dt.date
df_data["year"] = df_data["datetime"].dt.year
df_data["month"] = df_data["datetime"].dt.month
df_data["day"] = df_data["datetime"].dt.day
df_data["time"] = df_data["datetime"].dt.time
df_data["hour"] = df_data["datetime"].dt.hour

## create datetime from each element

In [37]:
df_data["datetime_self"] = pd.to_datetime(df_data[["year","month", "day", "hour"]])

In [64]:
df_data["datetime_self"].head()

0   2019-02-14 13:00:00
1   2019-02-26 13:00:00
2   2019-02-17 12:00:00
3   2019-02-28 16:00:00
4   2019-02-21 10:00:00
Name: datetime_self, dtype: datetime64[ns]

## daterange

In [40]:
df_daterange = pd.DataFrame()

In [65]:
# create 31 periods from 2019-03-01 0:0:0 
df_daterange["date"] = pd.date_range("2019-03-01", periods=31, freq="h")

In [66]:
# define a constant
df_daterange["price"] = 30

In [67]:
df_daterange.head()

                 date  price
0 2019-03-01 00:00:00     30
1 2019-03-01 01:00:00     30
2 2019-03-01 02:00:00     30
3 2019-03-01 03:00:00     30
4 2019-03-01 04:00:00     30

## timedelta

In [74]:
# previous hour and previous day
df_daterange["previous_hour"] = df_daterange["date"] - datetime.timedelta(hours=1)
df_daterange["previous_day"] = df_daterange["date"] - datetime.timedelta(days=1)

In [81]:
df_daterange.head()

                 date  price       previous_hour        previous_day
0 2019-03-01 00:00:00     30 2019-02-28 23:00:00 2019-02-28 00:00:00
1 2019-03-01 01:00:00     30 2019-03-01 00:00:00 2019-02-28 01:00:00
2 2019-03-01 02:00:00     30 2019-03-01 01:00:00 2019-02-28 02:00:00
3 2019-03-01 03:00:00     30 2019-03-01 02:00:00 2019-02-28 03:00:00
4 2019-03-01 04:00:00     30 2019-03-01 03:00:00 2019-02-28 04:00:00

## string

In [94]:
df_daterange["date_string"] = df_daterange["date"].dt.strftime('%Y-%m-%d')
df_daterange["time_string"] = df_daterange["date"].dt.strftime('%H:%M:%S')

In [95]:
df_daterange.dtypes

date             datetime64[ns]
price                     int64
previous_hour    datetime64[ns]
previous_day     datetime64[ns]
date_string              object
time_string              object
dtype: object

In [96]:
df_daterange.head()

,date,price,previous_hour,previous_day,date_string,time_string
0,2019-03-01 00:00:00,30,2019-02-28 23:00:00,2019-02-28 00:00:00,2019-03-01,00:00:00
1,2019-03-01 01:00:00,30,2019-03-01 00:00:00,2019-02-28 01:00:00,2019-03-01,01:00:00
2,2019-03-01 02:00:00,30,2019-03-01 01:00:00,2019-02-28 02:00:00,2019-03-01,02:00:00
3,2019-03-01 03:00:00,30,2019-03-01 02:00:00,2019-02-28 03:00:00,2019-03-01,03:00:00
4,2019-03-01 04:00:00,30,2019-03-01 03:00:00,2019-02-28 04:00:00,2019-03-01,04:00:00